
body {
    background-color: #f7b3cc;
    
}

img.medium{
    height: 500px;
    width: auto;
    border-radius: 15px;
    display: inline-flex;
    margin: 1em;
}

.small{
    height: 6rem;
    padding-bottom: 10px;
}


.container{
    display: flex;
    align-items: center;
    text-align: center;
}

.text{
    padding: 3rem;
    background-color: #B3F7DE;
    border-radius: 15px;
    
}



.sub:hover{
    cursor: pointer;
    background-color: #EEF7B3;
    transition: background-color 500ms ease-in-out;
}

.navbar.scrolled {
    background: #BCB3F7;
    transition: background 250ms;
}

.bannerImage{
    width: 100%;
    background-image: url(imgs/donut.jpg);
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(5px);
    height: 405px;
}

.blur{
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    height: 405px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input{
    border-radius: 25px;
    padding: .25em;
    border: none;
    text-align: center;
}

input:focus{
    outline: none;
    place
}

input:focus::placeholder{
    color: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button[type="submit"]{
    background-color: #EFEFEF;
    background: linear-gradient(to left, #EFEFEF 50%, #B3F7DE 50%) right;
    background-size: 300%;
    background-repeat: no-repeat;
    transition: 500ms ease-out;
    padding: 1em;
    border: none;
    border-radius: 25px;
}

button[type="submit"]:hover{
    background-position: left;
    transform: scale(1.1, 1.1);
}

button[type="submit"]:focus{
    transform: scale(1, 1);
    outline: none;
}




div.map{
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    
}

iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

@media (max-width: 992px){
.container{
    display: flex;
    flex-direction: column;
}

}

/* * {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
  } */



